
body {
  margin: 0;
  color: var(--text-color);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  align-items: stretch;
  padding: 0 10px;
}

input[type="text"] {
  border: none;
  outline: var(--input-outline);
  padding-left: 5px;
  border-radius: 1px;
}

input[type="text"]:focus {
  outline: var(--input-outline-focus);
}

input[type="submit"],
button {
  border: none;
  outline: var(--button-outline);
  background: var(--button-background);
  cursor: pointer;
}

input[type="submit"]:focus,
button:focus {
  outline: var(--button-outline-focus);
  background: var(--button-background-focus);
}

input[type="submit"]:hover,
button:hover {
  outline: var(--button-outline-hover);
  background: var(--button-background-hover);
}

input[type="submit"]:disabled,
button:disabled {
  outline: var(--button-outline-disabled);
  background: var(--button-background-disabled);
  cursor: auto;
}
