

/* colors */
* {
    --text-color: rgb(63, 44, 81);;
    --text-color-mute: grey;

    --background: white;

    --primary-color: rgb(95, 191, 129);
    --primary-hover-color: rgb(105, 181, 132);
    --primary-color-mute: rgb(196, 225, 207);

    --secondary-color: rgb(167, 114, 217);
    --mute-color: rgb(231, 231, 231);
    --success-color: green;
    --info-color: blue;
    --warning-color: orange;
    --failure-color: red;
    --black-color: rgb(39, 39, 39);

    --badge-in-progress-color: rgb(237, 237, 237);
    --badge-new-color: rgb(156, 255, 156);
    --badge-done-color: rgb(227, 227, 227);
    --badge-on-review-color: rgb(255, 255, 141);

    --badge-text-new-color: rgb(0, 99, 0);
    --badge-text-in-progress-color: rgb(27, 0, 55);
    --badge-text-on-review-color: rgb(185, 117, 0);
    --badge-text-done-color: rgb(202, 173, 190);

    --checkbox-border-color: var(--black-color);
    --checkbox-hover-border-color: var(--primary-hover-color);
    --checkbox-checked-border-color: var(--primary-hover-color);
    --checkbox-checked-hover-border-color: var(--primary-hover-color);
    --checkbox-background: #fff;
    --checkbox-hover-background: fff;
    --checkbox-checked-background: var(--primary-color);
    --checkbox-checked-hover-background: var(--primary-hover-color);

    --switcher-border-color: var(--primary-color);
    --switcher-hover-border-color: var(--primary-hover-color);
    --switcher-switched-border-color: var(--primary-color);
    --switcher-switched-hover-border-color: var(--primary-hover-color);
    --switcher-background: #fff;
    --switcher-hover-background: rgb(229, 229, 229);
    --switcher-switched-background: var(--primary-color);
    --switcher-switched-hover-background: var(--primary-hover-color);
    --switcher-container-background: #fff;
    --switcher-container-switched-background: gray;

    --overlay-loading-color1: #fff2;
    --overlay-loading-color2: #2222;

    --input-outline: 1px solid var(--primary-color);
    --input-outline-focus: 1px solid var(--secondary-color);
    --input-padding: 2px 1px 2px 20px;

    --button-outline: 1px solid var(--primary-color);
    --button-outline-focus: 1px solid var(--secondary-color);
    --button-outline-hover: 1px solid var(--button-outline);
    --button-outline-disabled: 1px solid var(--primary-color-mute);
    
    --button-background: linear-gradient(var(--primary-hover-color), var(--primary-color));
    --button-background-focus: var(--button-background);
    --button-background-hover: var(--primary-hover-color);
    --button-background-disabled: var(--primary-color-mute);

    --filter-panel-background: var(--mute-color);
}

/* fonts */
* {
    --default-font-family: Arial, Helvetica, sans-serif;

    --badge-font-size: 1em;
    --badge-new-font: bolder var(--badge-font-size) var(--default-font-family);
    --badge-in-progress-font: var(--badge-font-size) var(--default-font-family);
    --badge-on-review-font: var(--badge-font-size) var(--default-font-family);
    --badge-done-font: lighter var(--badge-font-size) var(--default-font-family);

    font-family: var(--default-font-family);
}

/* sizes */
* {
    --overlay-loading-line-size: 30px;
}