<script setup>
import CreateTodoForm from '@components/CreateTodoForm.vue';
import ShowFilterButton from '@components/ShowFilterButton.vue';

</script>
<template>
    <div class="control-panel">
        <CreateTodoForm class="create-todo-form"/>
        <ShowFilterButton class="show-filter-button"/>
    </div>
</template>
<style scoped>
    .control-panel {
        display: flex;
        align-items: start;
        box-shadow: 0px 5px 3px -3px rgb(148, 148, 148);
        z-index: 20;
        padding: 15px 2px;
    }
    .create-todo-form {
        flex: 1;
        margin-right: 20px;
    }
    .show-filter-button {
        flex: 0;
    }
</style>