<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { useForm, useField } from 'vee-validate';
import * as yup from 'yup';
import { toast } from 'vue3-toastify';
import { useEventEmitter } from '@use/useEventEmitter';


const store = useStore();
const emitter = useEventEmitter();
const loading = ref(false);

const { handleSubmit: createSubmit } = useForm();

const {value, handleBlur, errorMessage, meta} =  useField(
    'title',
    yup.string().required().max(50)
);

const handleSubmit = createSubmit(async (values, actions) => {
    try {
        loading.value = true;
        await store.dispatch('createTodo', values.title);
        emitter.emit('SCROLL_TODO_TO_TOP');
        actions.resetForm();
    } catch (e) {
        toast(e.message, { type: 'error' });
    } finally {
        loading.value = false;
    }

});

</script>
<template>
    <form class="create-todo-form" @submit="handleSubmit">
        <div class="create-todo-group">
            <input
                :class="['submit-button', { loading }]"
                type="submit"
                value="&#10010;"
                :disabled="Boolean(errorMessage) || !meta.dirty"
            />
            <input
                name="title"
                class="title-input"
                type="text"
                placeholder="Task title"
                @blur="handleBlur"
                v-model="value"
            />
        </div>
        <div class="error-message" v-show="errorMessage">
            {{errorMessage}}
        </div>
    </form>
</template>
<style scoped>
    /* variables */
    .create-todo-form {
        --input-height: 30px;
        --submit-button-width: 25px;
    }
    .create-todo-group {
        display: flex;
    }
   .create-todo-form {
        align-items: center;
    }
    .title-input {
        flex: 1 0;
        height: var(--input-height);
    }
    .submit-button {
        flex: 0 0 var(--submit-button-width);
        height: var(--input-height);
        margin-right: 5px;
        box-sizing: content-box;
    }
    .error-message {
        margin-top: 5px;
        text-align: right;
        color: var(--failure-color);
    }

    .loading {
        animation: loading 1s linear infinite;
        background: repeating-linear-gradient(
            45deg,
            var(--overlay-loading-color1) 25%,
            var(--overlay-loading-color1) 50%,
            var(--overlay-loading-color2) 50%,
            var(--overlay-loading-color2) 75%
        );
        background-size: var(--overlay-loading-line-size) var(--overlay-loading-line-size);

    }

    @keyframes loading {
        from { background-position-x: 0; }
        to {
            background-position-x: calc(var(--overlay-loading-line-size) * -1);
        }
    }
</style>