<script setup>
    import { computed } from 'vue';

    const props = defineProps({
        modelValue: Boolean,
        checked: Boolean,
        value: Boolean
    });
    const emit = defineEmits([
        'update:modelValue',
        'change',
        'input',
        'focus',
        'blur'
    ]);

    const value = computed({
        get: () => props.modelValue,
        set(value) {
            emit('update:modelValue', value);
        }
    });
</script>
<template>
    <label class="switcher-container">
        <div class="switcher">
            <input
                v-model="value"
                class="switcher-input"
                type="checkbox"
                :checked="checked"
                :value="value"
                @change="emit('change')"
                @input="emit('input')"
                @blur="emit('blur')"
                @focus="emit('focus')"
                v-bind="$attrs"
            />
            <div class="switcher-mark"></div>
        </div>
        <span class="label"><slot></slot></span>
    </label>
</template>
<style scoped>
    /* variables */
    .switcher-container {
        --switcher-size: 20px;
        --switcher-width: 40px;
    }
    .switcher-container {
        display: flex;
        align-items: center;
    }
    .switcher {
        outline: 1px solid var(--switcher-border-color);
        outline-offset: 2px;
        height: var(--switcher-size);
        width: var(--switcher-width);
        display: inline-block;
        border-radius: var(--switcher-size);
        cursor: pointer;
        background: var(--switcher-container-background);
    }
    .switcher:hover {
        outline: 1px solid var(--switcher-hover-border-color);
    }
    .switcher-input {
        display: none;
    }
    .switcher-mark {
        height: var(--switcher-size);
        width: var(--switcher-size);
        outline: 1px solid var(--switcher-border-color);
        border-radius: 50%;
        background: var(--switcher-background);
    }
    .switcher:hover .switcher-mark {
        outline-color: var(--switcher-hover-border-color);
        background: var(--switcher-hover-background);
        transition: 0.2s transform ease;
    }
    .switcher-input:checked + .switcher-mark {
        transform: translateX(var(--switcher-size));
        outline-color: var(--switcher-switched-border-color);
        background: var(--switcher-switched-background);
    }
    .switcher:hover .switcher-input:checked + .switcher-mark {
        outline-color: var(--switcher-switched-hover-border-color);
        background: var(--switcher-switched-hover-background);
    }

    .switcher-input:disabled + .switcher-mark {
        outline-color: gray;
        background: lightgrey;
    }
    .switcher-input:disabled:checked + .switcher-mark {
        background: gray;
    }
    .label {
        margin-left: 10px;
    }


</style>