<script setup>
    import { computed } from 'vue';

    const props = defineProps({ modelValue: Boolean });
    const emit = defineEmits(['update:modelValue']);

    const value = computed({
        get() {
            return props.modelValue;
        },
        set(value) {
            emit('update:modelValue', value);
        }
    });
</script>
<template>
    <label class="checkbox">
        <input  v-model="value" class="checkbox-input" type="checkbox" v-bind="$attrs"/>
        <span class="checkbox-mark"></span>
    </label>
</template>
<style scoped>
    .checkbox {
        height: 25px;
        width: 25px;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none;
    }
    .checkbox-input {
        display: none;
        margin: 0;
    }
    .checkbox-mark {
        display: inline-block;
        height: 100%;
        width: 100%;
        outline: 1px solid var(--checkbox-border-color);
        border-radius: 50%;
        background: var(--checkbox-background);
    }
    .checkbox-mark:hover {
        transition: 0.2s background-color ease;
        outline-color: var(--checkbox-hover-border-color);
        background: var(--checkbox-hover-background);
    }
    .checkbox-input:checked + .checkbox-mark {
        outline-offset: 1px;
        outline-color: var(--checkbox-checked-border-color);
        background: var(--checkbox-checked-background);
    }
    .checkbox-input:checked + .checkbox-mark:hover {
        outline-color: var(--checkbox-checked-hover-border-color);
        background: var(--checkbox-checked-hover-background);
    }
    .checkbox-input:checked + .checkbox-mark::after {
        display: block;
        content: "\2713";
        color: white;
        font-size: 23px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .checkbox-input:disabled + .checkbox-mark {
        outline-color: gray;
        background: lightgrey;
    }
    .checkbox-input:disabled:checked + .checkbox-mark {
        background: gray;
    }


</style>