<script setup>
import SearchTodos from '@components/SearchTodos.vue';
import IncompleteFilter from '@components/IncompleteFilter.vue';
import { useStore } from 'vuex';

const store = useStore();
</script>
<template>
    <div v-show="store.getters.showFilterPanel" class="filter-panel">
        <SearchTodos class="search-todos"/>
        <IncompleteFilter/>
    </div>
</template>
<style>
    .filter-panel {
        display: flex;
        padding: 20px;
        background: var(--filter-panel-background);
        overflow: hidden;
        align-items: center;
    }
    .search-todos {
        margin-right: 30px;
    }
</style>