
<script setup>
    import { computed } from 'vue';
    import { useStore } from 'vuex';
    import CustomSwitcher from '@components/CustomSwitcher.vue';
import { useEventEmitter } from '@use/useEventEmitter';

    const store = useStore();
    const emitter = useEventEmitter();
    const showIncompleteOnly = computed( {
        get: () => store.getters.showIncompleteOnly,
        set (value) {
            store.commit('setShowIncompleteOnly', value);
            emitter.emit('SCROLL_TODO_TO_TOP');
        }
    });

</script>
<template>
   <div class="incomplete-filter">
        <CustomSwitcher v-model="showIncompleteOnly">
            <template v-if="showIncompleteOnly">
                Show all
            </template>
            <template v-else>
                Show incomplete
            </template>
        </CustomSwitcher>
   </div>
</template>
<style>
    .incomplete-filter {
        display: flex;
    }
</style>