<template>
    <div class="overlay"></div>
</template>
<style scoped>
    @keyframes loading {
        from {background-position-x: 0;}
        to {
            background-position-x: calc(var(--overlay-loading-line-size) * -1);
        }
    }
    .overlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        position: absolute;
        animation: loading 1s linear infinite;
        background: repeating-linear-gradient(
            45deg,
            var(--overlay-loading-color1) 25%,
            var(--overlay-loading-color1) 50%,
            var(--overlay-loading-color2) 50%,
            var(--overlay-loading-color2) 75%
        );
        background-size: var(--overlay-loading-line-size) var(--overlay-loading-line-size);
    }
</style>