<script setup>
    import { useStore } from 'vuex';
    import { computed } from 'vue';

    const store = useStore();
    const search = computed({
        get: () => store.getters.search,
        set: (value) => {
            store.commit('setSearch', value);
        }
    });
</script>
<template>
    <input
        v-model="search"
        type="text"
        class="search-input"
        placeholder="Search todos"
    />
</template>
<style scoped>
    .search-todos {
        height: 30px;
        border-radius: 10px;
        width: 200px;
    }
</style>