<script setup>
    import { useStore } from 'vuex';
    import { toast } from 'vue3-toastify';

    const store = useStore();
</script>
<template>
    <button
        class="show-filter-input"
        v-bind="$attrs"
        @click.exact="store.commit('toggleFilterPanel')"
        @click.alt="toast('Never mind, I\'m just a fish!')"
    >
        <template v-if="store.getters.showFilterPanel">
            &#8743;
        </template>
        <template v-else>
            &#9776;
        </template>
    </button>
</template>
<style scoped>
    .show-filter-input {
        display: block;
        height: 30px;
        min-width: 30px;
    }
</style>