<script setup>
    defineProps({type: {type: String, default: "new"}});
</script>

<template>
    <span :class="['badge', type?.toLowerCase()]"><slot></slot></span>
</template>

<style scoped>
.badge {
    padding: 5px;
    border-radius: 5px;
}
.new {
    background: var(--badge-new-color);
    color: var(--badge-text-new-color);
    font: var(--badge-new-font);
}
.in-progress {
    background: var(--badge-in-progress-color);
    color: var(--badge-text-in-progress-color);
    font: var(--badge-in-progress-font);
}
.on-review {
    background: var(--badge-on-review-color);
    color: var(--badge-text-on-review-color);
    font: var(--badge-on-review-font);
}
.done {
    background: var(--badge-done-color);
    color: var(--badge-text-done-color);
    font: var(--badge-done-font);
}
</style>
