<script setup>
import { onMounted, computed, ref } from 'vue';
import { useStore } from 'vuex';
import { toast } from 'vue3-toastify';
import TodoItem from '@components/TodoItem.vue';
import OverlayLoader from '@components/OverlayLoader.vue';
import { useSubscription } from '@use/useEventEmitter';


const list = ref(null);
const store = useStore();
const loading = ref(false);

onMounted(async () => {
    try {
        loading.value = true;
        await store.dispatch('fetchTodos');
    } catch (e) {
        toast(e.message, { type: "error" });
    } finally {
        loading.value = false;
    }

});

useSubscription("SCROLL_TODO_TO_TOP", () => {
    list.value.scroll({top: 0, left: 0, behavior: 'smooth'});
});

const todos = computed(() => store.getters.filteredTodos);

</script>

<template>
    <div ref="list" class="todo-list-container">
        <TransitionGroup
            class="todo-list"
            ref="list"
            name="list"
            tag="ul"
            v-if="todos.length > 0"
        >
            <TodoItem class="todo-list-item" v-for="todo in todos" :key="todo.id" :todo="todo"/>
        </TransitionGroup>
        <OverlayLoader v-else-if="loading"/>
        <div v-else class="no-data">
            <div>No data</div>
        </div>
    </div>
</template>

<style scoped>
    .todo-list-container {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .todo-list {
        margin: 5px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 0 0 25%;
    }
    .todo-list-item {
        break-inside: avoid-column;
        margin-bottom: 10px;
    }

    .list-enter-active,
    .list-leave-active {
        transition: all 0.5s ease;
    }
    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: translateX(30px);
    }
    .no-data {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 1280px) {
        .todo-list {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
</style>
