<script setup>
    import { watch, ref } from 'vue';
    import { useStore } from 'vuex';
    import { toast } from 'vue3-toastify';
    import { useDebouncedRef } from '@use/useDebouncedRef';
    import Checkbox from '@components/CustomCheckbox.vue';
    import OverlayProgress from '@components/OverlayProgress.vue';

    const props = defineProps({todo: Object});

    // даем пользователю время поменять свое решение
    const completed = useDebouncedRef(props.todo.completed, 500);
    const loading = ref(false);
    const store = useStore();

    watch(completed, async () => {
        console.log('value', completed.value);
        if(completed.value === props.todo.completed) return;
        try {
            loading.value = true;
            await store.dispatch('toggleTodo', props.todo);
        } catch(e){
            completed.value = props.todo.completed;
            toast(e.message, { type: 'error' });
        } finally {
            loading.value = false;
        }
    });
</script>
<template>
    <li :class="['todo', {loading}]" class="TodoItem">
        <OverlayProgress v-show="loading"/>
        <Checkbox class="checkbox" :disabled="loading" v-model="completed"/>
        <div class="title">{{ todo.title }}</div>
    </li>
</template>
<style scoped>
    .todo {
        display: flex;
        align-items: center;

        padding: 5px 10px;

        list-style-type: none;
        min-height: 30px;
        border-left: 2px solid var(--black-color);
    }
    .todo.loading {
        position: relative;
    }
    .checkbox {
        flex-shrink: 0;
    }
    .title {
        margin-left: 30px;
    }
</style>