<script setup>
import TodoList from '@components/TodoList.vue';

import FiltersPanel from '@components/FiltersPanel.vue';
import ControlPanel from '@components/ControlPanel.vue';

</script>

<template>
    <ControlPanel class="control-panel"/>
    <Transition name="filter-panel">
        <FiltersPanel class="filter-panel"/>
    </Transition>
    <TodoList class="todo"/>
</template>

<style scoped>
    .todo {
        flex: 1 0;
    }
    .filter-panel {
        height: 35px;
    }
    .filter-panel-enter-active,
    .filter-panel-leave-active {
        transition: all 0.2s ease;
        opacity: 1;
    }

    .filter-panel-enter-from,
    .filter-panel-leave-to {
        height: 0;
        opacity: 0;
    }
</style>
